<!-- <app-navigation></app-navigation> -->
<div class="app-container">
  <div class="app-div">
    <h1 class="app-h1">Your {{ title }} starts here!</h1>
    <!-- <a
      routerLink="/space"
      role="button"
      class="btn btn-danger btn-edit app-btn"
    >
      Space
    </a> -->
    <a
      routerLink="/planet"
      role="button"
      class="btn btn-danger btn-edit app-btn"
    >
      Explore launches
    </a>
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Im working</h1>
    </div>
  </div>
</div> -->
