<!-- <p>planet-detail works!</p> -->
<div class="row">
  <div class="co-sx-12">
    <img src="" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="co-sx-12">
    <h1>Planet Name</h1>
  </div>
</div>
<div class="row">
  <div class="co-sx-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Planet<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
